@import '_variables';

.Header{
    background-color:$Black;
    padding: 30px 0px;
    display: flex;
    font-family: $Font;
    z-index: 11;
    &__logo{
        display: flex;
        flex:1;
        margin-left: 5%;
    }
    &__right{
        display: flex;
        align-items: center;
        margin-right: 5%;
        position: relative;
        &Phone{
            display: flex;
            margin-right: 15px;
            align-items: center;
            .icon{
                background-image: url("../../images/phone_icon.svg");
                width: 28px;
                height: 30px;
                margin-right: 10px;
            }
            .red{
                color: $Red;
                font-size: 12px;
                line-height: 12px;
            }
            .white{
                color: $White;
                font-weight: $Bold;
                font-size: 22px;
                line-height: 22px;
            }
        }
        &Lang{
            display: flex;
            align-items: center;
            &Flag{
                background-image: url("../../images/ua_flag.svg");
                width: 24px;
                height: 15px;
                position: relative;
                top: -2px;
                margin-right: 5px;
            }
        }
        &Nav{
            overflow: hidden;
            display: flex;
            font-family: $Font;
            text-transform: uppercase;
            a{
                font-size: 16px;
                color: $White;
                text-align: center;
                padding: 14px 16px;
                &:hover{
                    background-color: $Red;
                }
            }
        }
        &Search{
            background-image: url("../../images/search_icon.svg");
            width: 21px;
            height: 17px;
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

.dropdown {
    overflow: hidden;
    &:hover{
        .dropbtn{
            background-color: $Red;
        }
        .dropdown-content {
            display: block;
        }
    } 
    .dropbtn{
        font-size: 16px;
        border: none;
        outline: none;
        text-transform: inherit;
        background-color: inherit;
        color: $White;
        padding: 14px 16px; 
        font-family: inherit; 
        margin: 0; 
        display: flex;
        align-items: center;
        i{
            margin-left:5px;
            background-image: url("../../images/arrow_down_white.svg");
            width: 9px;
            height: 7px;
        }
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $White;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        a{
            color: $Black;
            padding: 12px 16px;
            display: block;
            text-align: left;
            &:hover{
                background-color: $Black;
                color: $White;
            }
        }
      }
}
.dropdown.red{
    i{
        background-image: url("../../images/arrow_down_red.svg");
        width: 11px;
    }
    &:hover{
        .dropbtn{
            background-color: transparent;
        }
    } 
    .dropbtn{
        color: $Red;
        padding: 0px;
    }
    .dropdown-content {
        min-width: auto;
    }
}

.burger_menu_icon {
    background-image: url('../../images/burger_menu_icon.svg');
    width: 27px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 27px auto;
    cursor: pointer;
    margin-left: 15px;
    display: none;
    z-index: 5;
}
.burger_menu_icon.close{
    background-image: url('../../images/mobile_menu_exit_icon.svg');
}

@media screen and (max-width:1350px){
    .Header__logo{
        margin-left: 1%;
    }
    .Header__right{
        margin-right: 1%;
    }
    .Header__rightNav a {
        padding: 14px 10px;
    }
}

@media screen and (max-width:1200px){
    .Header__logo{
        margin-left: 1%;
    }
    .Header__right{
        margin-right: 1%;
    }
    .Header__rightPhone{
        position: absolute;
        right: 0px;
        bottom: -25px;
    }
}

@media screen and (max-width:1000px){
    .Header__rightLang{
        position: absolute;
        right: 37px;
        bottom: -25px;
    }
    .Header__rightSearch{
        position: absolute;
        right: 0px;
        bottom: -19px; 
    }
    .Header__rightNav a,.dropdown .dropbtn {
        padding: 14px 5px;
    }
    .Header__logo{
        width: 190px;
        flex: none;
        img{
            width: 100%;
            height: auto;
        }
    }
    .Header__right{
        margin-left: auto;
    }
    .Header__rightPhone{
        right: 105px;
    }
}
@media screen and (max-width:768px){
    .Header__logo{
        margin-bottom: 20px;
    }
    .Header__rightPhone{
        width: 200px;
    }
    .Header__rightNav {
        width: 100%;
        left: 0px;
        position: fixed;
        background-color:$Black;
        top: 0px;
        z-index: 2;
        height: 0%;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        flex-direction: column; 
        justify-content: center;
    }
    .burger_menu_icon {
        display: block;
    }
    .dropdown{
        display: flex;
        justify-content: center;
    }
    .dropdown .dropdown-content{
        margin-top: 50px;
    }
}